@media (min-width: 576px) and (max-width: 768px){
    .logo , .instagram{
        float: none;
    }
    .instagram{
        width: 100%;
    }
    .logo{
        position: static;
        margin: 20px auto;
    }
    .navBox{
        background-color: #111;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        position: relative;
    }
    .navBox .nav{
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        background-color: inherit;
        display: none;
    }
    .navBox .nav ul{
        list-style: none;
        padding: 20px;
    }
    .nav ul li a{
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 20px;
        direction: rtl;
        text-align: right;
        transition: all .5s ease;
    }
    .barBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin-right: 20px;
        direction: rtl;
    }
    .barBox button.mobile{
        display: block;
    }

    /* ... */
    .boxes .row{
        padding: 30px!important;
    }
    .boxes .row .newsBox{
        width: 100%;
    }
    .boxes .row .newsBox img{
        width: 100%;
    }

    /* cotent-items */
    .content-items{

    }
    .item-content>a{
        width: 100%;
    }
    .item-content>a>img{
        width: 100%;
    }
    .content-items .item:nth-of-type(1){
        width: 100%;
        margin-top: 50px;
    }
    .content-items .item:nth-of-type(2){
        width: 100%;
        margin-top: 50px;
    }
    .content-items .item:nth-of-type(3){
        width: 100%;
        margin-top: 50px;
    }
    .table{
        width: 100% !important;
    }


    /* footer */

    .footer-top .footer-right-side{
        margin-bottom: 50px;
    }

    .footer-list{
        display: block !important;
    }
    .footer-list li{
        width: 100%;
        height: 50px !important;
        line-height: 50px !important;
    }
}